/*COLORS*/
/*
#4ca1d3
#d24b22


rgb(249, 243, 223)
rgb(215, 233, 247)
*/

html, body {
    padding: 0;
    margin: 0;

    font-family: "Poppins";
    color: white;
    
    font-size: 20px;
    font-weight: 600;

    background-color: rgb(249, 243, 223)
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7b00e4 !important;
    padding: 10px 0;
}

header>h1 {
    max-width: 1000px;
    font-size: 3rem;
}

header>img {
    width: 280px;
    height: auto;
    margin-right: 50px;

    background-color: white;
    border-radius: 100%;

    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d24b22;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch; /* Zapewnia jednakową wysokość elementów */
}

ul.topnav li {
    flex: 1; /* Dostosowuje szerokość wszystkich li do dostępnej przestrzeni */
}

ul.topnav li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 100%; /* Ustawia wysokość na 100%, aby rozciągnąć tło */
    box-sizing: border-box; /* Uwzględnia padding w szerokości i wysokości */
}

ul.topnav li a:hover:not(.active) {
    background-color: #deb900;
}

ul.topnav li a.active {
    background-color: #4ca1d3;
}

@media screen and (max-width: 600px) {
    ul.topnav {
        flex-direction: column; /* Układa elementy pionowo na małych ekranach */
    }
}

/*DIVIDER*/
.divider {
    padding-top: 50px;
}


.container {
    width: 100%;
    padding-right: 50px; /*paddingi dla estetyki i wyrównania*/
    padding-left: 50px;
    box-sizing: border-box;
    margin: auto; /* margin: auto dla wycentrowania calego nagłowka na stronie.*/

    background-color: rgb(215, 233, 247);
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

    background-color: #38598b;
}

.col {
    flex: 1 0 calc(33.3333% - 20px); /* Szerokość kontenera minus 2 razy padding */
    padding: 10px;
    margin: 0 10px;
    margin-bottom: 20px;

    box-sizing: border-box;
    position: relative;

    word-wrap: break-word;
    overflow-wrap: break-word;
}

.cell {
    padding: 20px;
    background-color: #38598b;
}

/* FONTS */
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  