/*COLORS

White:
    Light: #F5F5F5
    Dark: #F0F0F0
    Something between (used in footer): #F6F4F4

Black:
    Light: #3E3939
    Dark: #2C2727

Orange:
    Light: #FF7517
    Dark: #D24B22

Blue:
    #4CA1D3
*/

/*BREAKPOINTS TO BE MADE
First breakpoint: 1200 width.

*/